<p>Hi <%= name%>,</p>

<p>
A big thanks to you for signing up for Grayn, we are thrilled to welcome you!
</p>

<p>
Confirm your email by clicking <a href="<%= link %>">this link</a>, or copy and paste the following link into your browser address bar.
</p>

<p><%= link %></p>

<p>
Our growing community of users contribute to making Grayn’s software work like a charm, but if you happen to run into any issues we would love to help! Just reply to this email and our team will assist you with any questions you might have.
</p>

<p>
<i>From all of us at Grayn </i>
</p>